@page
@model Bootstrap4dotnetcore2.Pages.ExampleModel
@{
    ViewData["Title"] = "Example";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Example</h2>
<ul class="nav navbar-nav">
    <li><a asp-page="/Example/MovieScroll">MovieScroll</a></li>
</ul>

