@page
@model Bootstrap4dotnetcore2.Pages.OMStandardModel
@{
    ViewData["Title"] = "勤上后台系统标准样式";
}

<div class="container">
    @* 按钮 *@
    <div class="row" style="margin-top:10px;">
        <h3>按钮</h3>
        <button type="button" class="btn oms-btn-cancel">取消按钮</button>
        <button type="button" class="btn oms-btn-default">默认按钮</button>
        <button type="button" class="btn oms-btn-error">失败按钮</button>
        <button type="button" class="btn oms-btn-notice">提示按钮</button>
        <button type="button" class="btn oms-btn-link">链接按钮</button>
    </div>

    @* 模态对话框 *@
    <div class="row">
        <h3>模态对话框</h3>
        <button class="btn oms-btn-default btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 id="myModalLabel" class="modal-title"><span class="info"></span>目标元素附件弹出浮层提示，询问用户。</h4>
                    </div>
                    <div class="modal-body">虽然弹出框的出现会打断用户的心流</div>
                    <div class="modal-footer">
                        <button type="button" class="btn oms-btn-cancel" data-dismiss="modal">取消</button>
                        <button type="button" class="btn oms-btn-default">确认</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>

    <div class="row">
        <h3>模态对话框(没有内容)</h3>
        <button class="btn oms-btn-default btn-lg" data-toggle="modal" data-target="#myModal2">开始演示模态框</button>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 id="myModalLabel2" class="modal-title"><span class="info"></span>目标元素附件弹出浮层提示，询问用户。</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn oms-btn-cancel" data-dismiss="modal">取消</button>
                        <button type="button" class="btn oms-btn-default">确认</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>

    @* 弹出提示 *@
    <div class="row">
        <h3>弹出提示</h3>
        <div id="notice" class="tips-float" role="alert" style="display:none;"> </div>
        <button class="btn oms-btn-error" onclick="btnClick()">弹出提示</button>
        <button class="btn oms-btn-default" onclick="btnClickSucc()">弹出提示</button>
    </div>

    @* 输入框 *@
    <div class="row">
        <h3>输入框</h3>
        <div class="form-group">
            <label for="inputPassword" class="col-md-2 control-label"> 聚焦 </label>
            <div class="col-md-10">
                <input class="form-control" type="text" placeholder="该输入框获得焦点...">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-md-2 control-label"> 禁用 </label>
            <div class="col-md-10">
                <input class="form-control" id="disabledInput" type="text" placeholder="该输入框禁止输入..." disabled>
            </div>
        </div>
        <div class="form-group has-success">
            <label for="inputPassword" class="col-md-2 control-label"> 输入成功 </label>
            <div class="col-md-10">
                <input class="form-control" id="disabledInput" type="text" placeholder="输入成功...">
            </div>
        </div>
        <div class="form-group has-warning">
            <label for="inputPassword" class="col-md-2 control-label"> 输入提示 </label>
            <div class="col-md-10">
                <input class="form-control" id="disabledInput" type="text" placeholder="输入成功...">
            </div>
        </div>
        <div class="form-group has-error">
            <label for="inputPassword" class="col-md-2 control-label"> 输入错误 </label>
            <div class="col-md-10">
                <input class="form-control" id="disabledInput" type="text" placeholder="输入成功...">
                <span @*asp-validation-for="" *@ class="text-danger">非法字符，请重新输入</span>
            </div>
        </div>
    </div>

    @* 按钮输入框 *@
    <div class="row">
        <h3>按钮输入框</h3>
        <div class="form-group">
            <label for="inputPassword" class="col-md-2 control-label"> 搜索 </label>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="输入查找内容...">
                    <span class="input-group-btn">
                        <button class="btn oms-btn-default" type="button">搜索</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-md-2 control-label"> 搜索 </label>
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="输入查找内容...">
                    <span class="input-group-btn">
                        <button class="btn oms-btn-cancel" type="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    @* 没有更多数据 *@
    <div class="row">
        <h3>没有更多数据</h3>
        <div class="modal-title"><span class="info make-gray"></span>没有更多数据，<button type="button" class="btn oms-btn-link">创建资讯</button></div>
    </div>

    @* 徽章 *@
    <div class="row">
        <h3>操作记录（徽章）</h3>
        <a class="link-record" href="#">操作记录 <span class="badge badge-danger">2</span></a>
    </div>

    @* 分页 *@
    <div class="row">
        <h3>分页</h3>
        <nav>
            <ul class="pagination oms-page">
                <li><a href="#" aria-label="Previous"><span aria-hidden="true"><</span></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="active"><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Previous"><span aria-hidden="true">></span></a></li>
                <li>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> 5条/页 <span class="caret"></span> </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">第1页</a></li>
                            <li><a href="#">第2页</a></li>
                            <li><a href="#">第3页</a></li>
                            <li><a href="#">第4页</a></li>
                            <li><a href="#">第5页</a></li>
                            <li><a href="#">第6页</a></li>
                            <li><a href="#">第7页</a></li>
                            <li><a href="#">第8页</a></li>
                            <li><a href="#">第9页</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                </li>
            </ul>
        </nav>
    </div>

    @* loading 按钮 *@
    <div class="row">
        <h3>loading按钮</h3>
        <button type="button" class="btn btn-primary" data-loading-text="Loading...">Loading state</button>
    </div>
</div> @* --> container *@
@section Scripts {
    <script>
        function btnClickSucc() {
            $('#notice').tips({ msg: "创建成功", ret: true });
        }
        function btnClick() {
            $('#notice').tips({ msg: "创建失败", ret: false });
        }
    </script>
}
