@page
@model Bootstrap4dotnetcore2.Pages.OMStandardModel
@{
    ViewData["Title"] = "勤上后台系统标准样式";
}

<div class="container">
    @* 按钮 *@
    <div class="row" style="margin-top:10px;">
        <div class="col-md-8">
            <h2>按钮</h2>
            <button type="button" class="btn oms-btn-cancel">取消按钮</button>
            <button type="button" class="btn oms-btn-default">默认按钮</button>
            <button type="button" class="btn oms-btn-error">失败按钮</button>
            <button type="button" class="btn oms-btn-notice">提示按钮</button>
            <button type="button" class="btn oms-btn-link">链接按钮</button>
        </div>
        <div class="col-md-4">
        </div>
    </div>


    @* 模态对话框 *@
    <div class="row">
        <h3>模态对话框</h3>
        <button class="btn oms-btn-default btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 id="myModalLabel" class="modal-title"><span class="info"></span>目标元素附件弹出浮层提示，询问用户。</h4>
                    </div>
                    <div class="modal-body">虽然弹出框的出现会打断用户的心流</div>
                    <div class="modal-footer">
                        <button type="button" class="btn oms-btn-cancel" data-dismiss="modal">取消</button>
                        <button type="button" class="btn oms-btn-default">确认</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>

    <div class="row">
        <h3>模态对话框(没有内容)</h3>
        <button class="btn oms-btn-default btn-lg" data-toggle="modal" data-target="#myModal2">开始演示模态框</button>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 id="myModalLabel2" class="modal-title"><span class="info"></span>目标元素附件弹出浮层提示，询问用户。</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn oms-btn-cancel" data-dismiss="modal">取消</button>
                        <button type="button" class="btn oms-btn-default">确认</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
   
    @* 弹出提示 *@
    <div class="row">
        <button class="btn oms-btn-default" data-target="#notice" data-toggle="alert">弹出提示</button>
        <div id="notice" class="alert-float" role="alert" style="display:none;">
            <span class="success"></span>创建成功！
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="alert"]').on('click', function () {
                var target = $(this).attr('data-target');
                $(target).fadeIn("slow").fadeOut(5000);
            })
        });
    </script>
}