@page
@model Bootstrap4dotnetcore2.Pages.Example.MovieScrollModel
@{
    ViewData["Title"] = "MovieScroll";
    Layout = "~/Pages/_Layout.cshtml";
}
<style>
    .v_content{
        width:700px;
        height:156px;
        display:block;
        position:relative;
        overflow:hidden;
        border:1px solid red;
    }
    .v_content_list{
        position:absolute;
        left:0;
    }
    .v_content_list ul{
        margin:0;
        padding:0;
        letter-spacing:-8px;
    }
    .v_content_list li{
        letter-spacing:normal;
        display:inline-block;
        width:300px;
    }
</style>
<h2>MovieScroll</h2>

<div class="v_show">
    <div class="v_caption">
        <h2 class="cartoon" title="卡通动漫">卡通动漫</h2>
        <div class="highlight_tip">
            <span class="current">1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
        </div>
        <div class="change_btn">
            <span class="prev">上一页</span>
            <span class="next">下一页</span>
        </div>
        <em><a href="#">更多</a></em>
    </div>
    <div class="v_content">
        <div class="v_content_list">
            <ul>
                <li>
                    <a href="#"><img src="~/images/banner1.svg" alt="海贼王" /></a>
                    <h4><a href="#">海贼王1</a></h4>
                    <span>播放：<em>28，769</em></span>
                </li>
                <li>
                    <a href="#"><img src="~/images/banner2.svg" alt="海贼王" /></a>
                    <h4><a href="#">海贼王2</a></h4>
                    <span>播放：<em>28，769</em></span>
                </li>
                <li>
                    <a href="#"><img src="~/images/banner1.svg" alt="海贼王" /></a>
                    <h4><a href="#">海贼王3</a></h4>
                    <span>播放：<em>28，769</em></span>
                </li>
                <li>
                    <a href="#"><img src="~/images/banner2.svg" alt="海贼王" /></a>
                    <h4><a href="#">海贼王4</a></h4>
                    <span>播放：<em>28，769</em></span>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts{ 
    <script type="text/javascript">
        $(function () {
            var page = 1;
            var i = 2;
            $("span.next").click(function () {
                var $parent = $(this).parents("div.v_show");
                var $v_show = $parent.find("div.v_content_list");
                var $v_content = $parent.find("div.v_content");
                var v_width = $v_content.find("li").width() * i;
                var len = $v_show.find("li").length;
                var page_count = Math.ceil(len / i);
                console.log('page: ' + page);

                if (!$v_show.is(":animated")) {
                    if (page == page_count) {
                        $v_show.animate({ left: '0px' }, "slow");

                        page = 1;
                    } else {
                        $v_show.animate({ left: '-=' + v_width }, "slow");
                        page++;
                    }
                    $parent.find("span").eq((page - 1)).addClass("current")
                        .siblings().removeClass("current");
                }

            });
            $("span.prev").click(function () {
                var $parent = $(this).parents("div.v_show");
                var $v_show = $parent.find("div.v_content_list");
                var $v_content = $parent.find("div.v_content");
                var v_width = $v_content.find("li").width()*i;
                var len = $v_show.find("li").length;
                var page_count = Math.ceil(len / i);
                console.log('page: ' + page);

                if (!$v_show.is(":animated")) {
                    if (page == 1) {
                        $v_show.animate({ left: '-=' + v_width*(page_count-1) }, "slow");

                        page = page_count;
                    } else {
                        $v_show.animate({ left: '+=' + v_width }, "slow");
                        page--;
                    }
                    $parent.find("span").eq((page - 1)).addClass("current")
                        .siblings().removeClass("current");
                }

            })
        })
    </script>
}