@page
@model Bootstrap4dotnetcore2.Pages.Effect.WaveModel
@{
    ViewData["Title"] = "Wave";
    Layout = null;
}
<link href="~/css/wave.css" rel="stylesheet" />
<style type="text/css">
   
</style>

<div class="greenwater">
    <div class="shape"></div>
    <div class="greenwave action"></div>
</div>

<div class="wrap">
    <h2>静态波浪效果</h2>
    <div class="wave wave1">
    </div>
    <h2>动态波浪效果</h2>
    <div class="wave wave2">
    </div>
    <h2>鼠标悬停触发效果</h2>
    <div class="wave wave3">
    </div>
</div>
